<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BoardAutoTesting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="tCheckDataTestAteSoap" />
                <binding name="tRepairInfoSoap" />
                <binding name="tUserInfoSoap" />
                <binding name="tWipTrackingSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sfis.phicomm.com.cn/SFIS_WEBSER/tCheckDataTestAte.asmx"
                binding="basicHttpBinding" bindingConfiguration="tCheckDataTestAteSoap"
                contract="Service.tCheckDataTestAteSoap" name="tCheckDataTestAteSoap" />
            <endpoint address="http://sfis.phicomm.com.cn/SFIS_Webser/tRepairInfo.asmx"
                binding="basicHttpBinding" bindingConfiguration="tRepairInfoSoap"
                contract="RepairInfo.tRepairInfoSoap" name="tRepairInfoSoap" />
            <endpoint address="http://sfis.phicomm.com.cn/SFIS_Webser/tUserinfo.asmx"
                binding="basicHttpBinding" bindingConfiguration="tUserInfoSoap"
                contract="UserInfo.tUserInfoSoap" name="tUserInfoSoap" />
            <endpoint address="http://sfis.phicomm.com.cn/SFIS_Webser/tWipTracking.asmx"
                binding="basicHttpBinding" bindingConfiguration="tWipTrackingSoap"
                contract="WipTracking.tWipTrackingSoap" name="tWipTrackingSoap" />
        </client>
    </system.serviceModel>
</configuration>
